<!DOCTYPE html>
<html>


<head>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine|Julius+Sans+One|Belleza|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Joan E Haynsworth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag './public/purple_flower.jpg' %>

</head>
<body>

  <header>
    <div >
      <div class="row">
        <div class="four columns">
          <h4 id="home-button"><%= link_to "Joan E Haynsworth", root_path%></h4>
        </div>
        <nav class="offset-by-three columns four columns" id="main-nav">
          <ul>
          	<li><%= link_to "ARTWORK", projects_path %></li>
            <li><%= link_to "ABOUT", about_path %></li>
            <li><%= link_to "CONTACT", contact_path %></li>
          </ul>  
        </nav>  
      </div>  
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="row">
      <div class="offset-by-one column two columns">
        <p>&copy; Joan E Haynsworth Art</p>
      </div>
      <div class="offset-by-three columns four columns">
        <ul>
          <li><a href="https://www.facebook.com/joanhaynsworthart"><i class="fa fa-facebook-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-envelope-o fa-3x"></i></a></li>
        </ul>
<!--         <ul>
          <li><a href="https://www.facebook.com/joanhaynsworthart"><img src="/assets/FB-f-Logo__blue_29.png" alt=""></a></li>
        </ul> -->
      </div>
      <div class="two columns">
        <% if logged_in? %>
        <ul>
          <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul>
          <li><%= link_to "LOG IN", login_path %></li>
        </ul>
        <% end %> 
      </div>
    </div>
  </footer>

</body>
</html>
