<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <title>Joan Of Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <div class="row">
        <div class="eight columns">
          <h4><%= link_to "Joan E Haynsworth", root_path%></h4>
        </div>
        <nav class="four columns" id="main-nav">
        	<% if logged_in? %>
          <ul>
            <li><%= link_to "home", root_path %></li>
          	<li><%= link_to "artwork", projects_path %></li>
        		<li><%= link_to "log out", logout_path, method: :delete %></li>
          </ul>  
          <% else %>
          <ul>
            <li><%= link_to "home", root_path %></li>
            <li><%= link_to "artwork", projects_path %></li>
          	<li><%= link_to "log in", login_path %></li>
          </ul>	
        	<% end %>
        </nav>  
      </div>  
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      &#169; J.E.Haynsworth
    </div>
  </footer>

</body>
</html>
