<%= form_for @project do |f| %>
	
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
    <%= f.label :category %>
    <select name="project[category]">
      <option value="flowers">Flowers</option>
      <option value="animals">Animals</option>
      <option value="landscapes">Landscapes</option>
      <option value="greeting cards">Greeting Cards</option>
      <option value="childrens books">Children's Books</option>
    </select>
  <div>
    <% if @project.avatar.exists? %>
      <%= image_tag @project.avatar.url(:thumb) %>
    <% end %>
    <%= f.label :avatar, "Attach an Image of your Project" %><br>
    <%= f.file_field :avatar %>
  </div>
 
  <input type='hidden' name='project[user_id]' value='<%= current_user.id %>' />
  <input type='hidden' name='project[id]' value='<%= @project.id %>' />
 
  <div>
    <%= f.submit %>
  </div>	

<% end %>