
<div id='project-nav' class="align-center">
	<div class="container">
		<div class="row">	
			<ul class="offset-by-one column">
			   <li id="project-main-button" class='active '><a href='#all-artwork'><span>All Artwork</span></a></li>
			   <li id="flower-button"><a href='#flowers'><span>Flowers</span></a></li>
			   <li id="animal-button"><a href='#animals'><span>Animals</span></a></li>
			   <li><a href='#'><span>Landscapes</span></a></li>
			   <li><a href='#'><span>Greeting Cards</span></a></li>
			   <li class='last'><a href='#'><span>Children's Books</span></a></li>
			</ul>
		</div>
	</div>
</div>

<div id="project-main" class="container">	

	<div class="row">
		<div class="project-load">
			<table>
			  <thead>
			    <tr>
			      <th>All Artwork</th>
			    </tr>
			    <tr>
			    	<td>All of the art is available for purchase. Click <span><%= link_to "here", contact_path %></span> for contact information.</td>
			    	<td></td>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @projects.in_groups_of(3, false).each do |animals| %>
						<tr>	
							<% animals.each do |animal| %>	
						    <td class="four columns">
						    	<%=link_to image_tag(animal.avatar.url(:thumb)), project_path(:id => animal.id) %>	
						    	<p><%= link_to animal.name, project_path(:id => animal.id) %><p>		
						    </td> 
						  <% end %>   
						</tr>
					<% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row animals initial-display">
		<table>
		  <thead>
		    <tr>
		      <th>Animals</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @animals.in_groups_of(3, false).each do |animals| %>
					<tr>	
						<% animals.each do |animal| %>	
					    <td class="four columns">
					    	<%=link_to image_tag(animal.avatar.url(:thumb)), project_path(:id => animal.id) %>	
					    	<p><%= link_to animal.name, project_path(:id => animal.id) %><p>		
					    </td> 
					  <% end %>   
					</tr>
				<% end %>
		  </tbody>
		</table>
	</div>

	<div class="row flowers initial-display">
		<table>
		  <thead>
		    <tr>
		      <th>Flowers</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @flowers.in_groups_of(3, false).each do |flowers| %>
					<tr>	
						<% flowers.each do |flower| %>	
					    <td class="four columns">
					    	<%=link_to image_tag(flower.avatar.url(:thumb)), project_path(:id => flower.id) %>
					    	<div class="description">
					    	<p><%= link_to flower.name, project_path(:id => flower.id) %><p>
					    	</div>			
					    </td> 
					  <% end %>   
					</tr>
				<% end %>
		  </tbody>
		</table>
	</div>

	<div class="row landscapes initial-display">
		<table>
		  <thead>
		    <tr>
		      <th>Landscapes</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @landscapes.in_groups_of(3, false).each do |landscapes| %>
					<tr>	
						<% landscapes.each do |landscape| %>	
					    <td class="four columns">
					    	<%=link_to image_tag(landscape.avatar.url(:thumb)), project_path(:id => landscape.id) %>
					    	<div class="description">
					    	<p><%= link_to landscape.name, project_path(:id => landscape.id) %><p>
					    	</div>			
					    </td> 
					  <% end %>   
					</tr>
				<% end %>
		  </tbody>
		</table>
	</div>

	<div class="row greeting_cards initial-display">
		<table>
		  <thead>
		    <tr>
		      <th>Greeting Cards</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @greeting_cards.in_groups_of(3, false).each do |cards| %>
					<tr>	
						<% cards.each do |card| %>	
					    <td class="four columns">
					    	<%=link_to image_tag(card.avatar.url(:thumb)), project_path(:id => card.id) %>
					    	<div class="description">
					    	<p><%= link_to card.name, project_path(:id => card.id) %><p>
					    	</div>			
					    </td> 
					  <% end %>   
					</tr>
				<% end %>
		  </tbody>
		</table>
	</div>	

</div>

<script>
	
$(function(){

	$('#project-nav li').click(function(){
		var	el = $(this);
		updateProjects(el);	
		adjustActiveTab(el);	

	});

})

</script>

