<!DOCTYPE html>
<html>


<head>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine|Julius+Sans+One|Belleza|Open+Sans+Condensed:300|Bad+Script|Marck+Script|Allura|Great+Vibes|Pinyon+Script|Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Joan E Haynsworth</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  

</head>
<body>

  <header>
    <div >
      <div class="row">
        <div class="four columns">
          <h4 id="home-button"><%= link_to "Joan Haynsworth Art", root_path%></h4>
        </div>
        <nav class="offset-by-three columns five columns" id="main-nav">
          <ul>
          	<li><%= link_to "ARTWORK", projects_path %></li>
            <li><%= link_to "ABOUT THE ARTIST", about_path %></li>
            <li><%= link_to "CONTACT", contact_path %></li>
          </ul>  
        </nav>  
      </div>  
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="row">
      <div class="offset-by-one column two columns">
        <p>&copy; Joan E Haynsworth Art</p>
      </div>
      <div class="offset-by-three columns four columns">
        <ul>
          <li><a href="https://www.facebook.com/joanhaynsworthart"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="mailto:joanhaynsworthart@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="two columns">
        <% if logged_in? %>
        <ul>
          <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul>
          <li><%= link_to "LOG IN", login_path %></li>
        </ul>
        <% end %> 
      </div>
    </div>
  </footer>

</body>
</html>
